* {
  padding: 0;
  margin: 0;
}

.programmer {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}
.programmer h2 {
  background-color: #33a;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
}
.programmer-h2-p_ol {
  margin: 50px 150px 50px 150px;
  text-align: center;
  background-color: #000000;
}

.programmer-h2-p_ol-li {
  padding: 5px;
}
.programmer-h2-p_ol a {
  color: #fff;
  text-decoration: none;
}

.form {
  margin: 50px 50px 50px;
  border: solid 1px #000000;
  padding: 30px;
  color: #fff;
  background-color: #00ffffff;
  font-size: 50px;
}

.form-for-interview {
  padding: 20px;
}
