* {
  padding: 0;
  margin: 0;
}

.programmer {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}

.programmer-h2-p_ol {
  margin: 50px 150px 50px 150px;
  text-align: center;
  background-color: #000000;
}

.programmer-h2-p_ol-li {
  padding: 5px;
}
.programmer-h2-p_ol a {
  color: #fff;
  text-decoration: none;
}

.form {
  margin: 50px 50px 50px;
  border: solid 1px #000000;
  padding: 30px;
  color: #fff;
  background-color: #00ffffff;
  font-size: 50px;
}

.form-for-interview {
  padding: 20px;
}
