* {
  padding: 0;
  margin: 0;
}

.programmer {
  font-size: 2rem;
}

.programmer-h2-p_ol {
  margin: 50px 150px 50px 150px;
  text-align: center;
  background-color: #000000;
}

.programmer-h2-p_ol-li {
  padding: 5px;
}
.programmer-h2-p_ol a {
  color: #fff;
  text-decoration: none;
}

.form {
  margin: 50px 50px 50px;
}

.form-for-interview {
  padding: 50px;
}
